<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">                                                       
      <ul>
        <li v-for="item in frutas_con_id" v-bind:key="item">
          {{ item.nombre }}
          <ul>
            <li v-for="pais in item.pais_origen">{{ pais.pais }}</li>
          </ul>
        </li>
      </ul>
      <ul>
          <li v-for="l in letras">{{l}}</li>
      </ul>
      <ul>
          <li v-for="numero in 100">{{numero/2}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      //data, methods, props, mounted, created, computed, watch, destroyed
      const holaMundo = {
        data() {
          return {
              letras: 'abcde',
            frutas_con_id: [
              {
                id: 1,
                nombre: "Manzana",
                pais_origen: [
                  {
                    id_pais: 1,
                    pais: "España",
                  },
                  {
                    id_pais: 2,
                    pais: "Rusia",
                  },
                ],
              },
              {
                id: 2,
                nombre: "Pera",
                pais_origen: [
                  {
                    id_pais: 3,
                    pais: "Brasil",
                  },
                  {
                    id_pais: 4,
                    pais: "Colombia",
                  },
                ],
              },
              {
                id: 3,
                nombre: "Uva",
                pais_origen: [],
              },
            ],
          };
        },
      };

      Vue.createApp(holaMundo).mount("#app");
    </script>
  </body>
</html>
