<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--Es recomendable utilizar v-if si el elemento no se estará mostrando y ocultando continuamente,
        en caso contrario, es recomendable utilizar v-show por cuestiones de rendimiento-->
        <a href="#" v-if="esAdmin">Administrador</a>
        <img src="escudo.jpg" height="200" v-if="mostrarImagen"> <!-- Elimina por completo el objeto del DOM-->
        <img src="logo.jpg" height="200" v-show="mostrarImagen"> <!-- Coloca display none al objeto del DOM-->
       
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //data, methods, props, mounted, created, computed, watch, destroyed
        const holaMundo = {
            data() {
                return {
                    mostrarImagen: false,
                    esAdmin: false
                }
            }
        }

        Vue.createApp(holaMundo).mount('#app')
    </script>
</body>
</html>